#content
  %h1= "Page not found | <i>Error 404</i>"
  %p
    There are only four or five pages on this whole site, so I'm not sure how you ended up here. Go back to
    %a{ href: 'http://www.stopmophoto.com' } the homepage
    and try again.
