#content
  %h1= "Contact | <i> To schedule an event or get a quote</i>"

  %p
    Feel free to call the office at
    %b (617)&nbsp;297&nbsp;—&nbsp;STOP
    (7867)

  %p
    Or email Chris directly at
    %a{ href: 'mailto:chris@stopmophoto.com' } chris@stopmophoto.com
