#content
  %h1= "Chris Kalafarski | <i>Owner and photographer</i>"


  %p Raised and living in North Attleboro, Massachusetts, I have been working as a sports photographer for nine years. In 2008 I graduated from Boston College, and am now the Founder and Principal of Stop Motion Photography.

  %p My photography has been featured in yearbooks, newspapers, and magazines, and as a graphic designer and developer I have worked with clients such as Slate.com, Google, and many local and national businesses.

  %p Sports are a huge part of people's lives and represent an enormous amount of time and effort. Unfortunately most people never have the opportunity for their performance to be captured and shared like the pros do. I'd like to change that.

  %p Just a single image of someone, be it your child, a friend, or even yourself, is enough to represent years of training and hard work, or just the love for a game. I very much enjoy being able to provide those memories.

  %p I also run and cycle competitively, and train dogs and play board games when I have some free time.
